body {
  margin: 40px auto;
  max-width: 90vw;
  line-height: 1.6;
  font-size: 32px;
  background: #eeeeee;
  color: #454545;
  padding: 0 10px;
  text-align: center;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

#card {
  display: flex;
  position: relative;
  height: 80vh;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 5px 5px 3px;
  border-radius: 15px;
  width: 40vw;
  max-height: 800px;
  max-width: 1200px;
  transition: transform 2s ease;
  transform-style: preserve-3d;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#han_count {
  font-size: 2em;
}
#fu_count {
  font-size: 2em;
}

#front {
  backface-visibility: hidden;
  position: absolute;
}

#back {
  font-size: 2em;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

#back.center {
  position: absolute;
  transform: rotateY(180deg) translate(50%, -50%);
}

#dealer {
  color: #464646;
}
.flip {
  transform: rotateY(180deg);

}
